<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
     <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.label :address %><br>
    <%= f.text_field :address, class: "form-control" %>

    <%= f.label :gender %><br>
    <%= f.label :male, class: "radio inline"  %><%= f.radio_button :gender, "1"%>
    <%= f.label :female, class: "radio inline"  %><%= f.radio_button :gender, "2" %>

     <%= f.label :contacts %><br>
    <%= f.text_field :contacts, class: "form-control" %>

    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
  </div>
</div>
